<div class="playing-history-card">
    <div class="ticket-amount history-element">
        <div class="amount-label history-label">Number of Tickets:</div>
        <div class="amount">{{historyService.numberOfTickets}}</div>
    </div>
    <div class="years-spent-wrapper history-element">
        <div class="years-label history-label">Years spent:</div>
        <div class="years">{{historyService.years}}</div>
    </div>
    <div class="cost-wrapper history-element">
        <div class="cost-label history-label">Cost of tickets:</div>
        <div class="cost">{{historyService.cost}} Ft</div>
    </div>
</div>