body {
    background-color: #f2f2f2;
    font-family: Roboto, "Helvetica Neue", "sans-serif";
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.result-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px #dddcdc;
    border-radius: 8px;
    background-color: white !important;
    min-width: 440px !important;
}

.card-header {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px !important;
}

.playing-history-card {
    padding: 10px;
    background-color: #A5C9D8;
    border-radius: 8px;
    margin-bottom: 20px;
    max-width: 380px;
    color: white;
    box-shadow: 2px 2px #dddcdc;
}

.history-label {
    width: 50%;
}

.winning-numbers-wrapper {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.winning-numbers-label {
    margin-right: 12px;
}

.winning-numbers {
    display: flex;
}

.number-field {
    height: 28px;
    width: 28px;
    border: 1px rgb(5, 84, 242) solid;
    box-shadow: black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px #dddcdc;
}

.input-number-field {
    height: 14px;
    width: 14px;
    padding: 7px;
}

.number-field + .number-field {
    margin-left: 8px;
}

.ng-invalid {
    border-color: red;
}

.matched-number {
    border-color: green;
}

.history-element {
    display: flex;
}

.result-history-card {
    border: 1px #F2E963 solid;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    box-shadow: 2px 2px #dddcdc;
    margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
    .result-history-card,
    .winning-numbers-wrapper,
    .slider-wrapper,
    .button-wrapper {
      max-width: 400px;
    }
    .matches-card {
        width: 118px;
    }

  }

@media only screen and (max-width: 497px) {

    .matches-card {
        width: 318px;
    }
  }

.matches-card {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;
    border: 1px #F2E963 solid;
    font-weight: 600;
}

.matches-history {
    margin-bottom: 10px;
}

.button-wrapper {
    display: flex;
    width: 500px;
    justify-content: space-around;
}


.action-button {
    border: 1px rgb(5, 84, 242) solid !important;
    background-color: rgb(5, 84, 242) !important;
    color: white !important;
    font-weight: 600;
}

.slider-wrapper {
    width: 500px;
}

.mdc-slider {
    width: 100% !important;
}

.mat-mdc-raised-button[disabled] {
    background-color: rgba(5, 84, 242, 0.2) !important;
    color: white !important;
    border: rgba(5, 84, 242, 0.2) !important;
}

.mdc-slider__track--inactive::before {
    background: rgb(5, 84, 242) !important;
}

.mat-mdc-slider .mdc-slider__thumb-knob {
    border-color: rgb(5, 84, 242) !important;
}

.mat-mdc-slider .mdc-slider__track--active_fill {
    border-color: rgb(5, 84, 242) !important;

}
