<mat-card class="result-card">
    <mat-card-title class="card-header">Result</mat-card-title>
    <div class="playing-history-card">
        <div class="ticket-amount history-element">
            <div class="amount-label history-label">Number of Tickets:</div>
            <div class="amount">{{historyService.numberOfTickets}}</div>
        </div>
        <div class="years-spent-wrapper history-element">
            <div class="years-label history-label">Years spent:</div>
            <div class="years">{{historyService.years}}</div>
        </div>
        <div class="cost-wrapper history-element">
            <div class="cost-label history-label">Cost of tickets:</div>
            <div class="cost">{{historyService.cost}} Ft</div>
        </div>
    </div>
    <div class="result-history-card">
        <div class="two-matches matches-card">
            <div class="matches-history">2 matches</div>
            <div class="matches-amount">{{historyService.twoMatches}}</div>
        </div>
        <div class="three-matches matches-card">
            <div class="matches-history">3 matches</div>
            <div class="matches-amount">{{historyService.threeMatches}}</div>
        </div>
        <div class="four-matches matches-card">
            <div class="matches-history">4 matches</div>
            <div class="matches-amount">{{historyService.fourMatches}}</div>
        </div>
        <div class="five-matches matches-card">
            <div class="matches-history">5 matches</div>
            <div class="matches-amount">{{historyService.fiveMatches}}</div>
        </div>
    </div>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Winning numbers:</div>
        <div class="winning-numbers">
            <div class="number-field">
                <div *ngIf="winningNumbers[0]">{{winningNumbers[0]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[1]">{{winningNumbers[1]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[2]">{{winningNumbers[2]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[3]">{{winningNumbers[3]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[4]">{{winningNumbers[4]}}</div>
            </div>
        </div>
    </div>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Your numbers:</div>
        <form [formGroup]="userNumbersForm" class="winning-numbers">
            <input
                formControlName="firstNumber"
                type="number"
                id="firstNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('firstNumber')">
            <input
                formControlName="secondNumber"
                type="number"
                id="secondNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('secondNumber')">
            <input
                formControlName="thirdNumber"
                type="number"
                id="thirdNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('thirdNumber')">
            <input
                formControlName="fourthNumber"
                type="number"
                id="fourthNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('fourthNumber')">
            <input
                formControlName="fifthNumber"
                type="number"
                id="fifthNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('fifthNumber')">
        </form >
    </div>
    <div class="slider-wrapper">
        <label class="example-value-label">Speed</label>
        <mat-slider
            discrete
            min="1"
            max="1000"
            step="1"
            value="1">
            <input matSliderThumb [(ngModel)]="speed">
        </mat-slider>
    </div>
    <div class="button-wrapper">
        <button mat-raised-button color="primary" class="action-button" (click)="randomize()">Give me random numbers</button>
        <button mat-raised-button color="primary" class="action-button" (click)="start()" [disabled]="!userNumbersForm.valid">Let's go!</button>
    </div>
</mat-card>