<div class="result-card">
    <h2 class="card-header">Result</h2>
    <div class="playing-history-card"></div>
    <div class="result-history-card"></div>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Winning numbers:</div>
        <div class="winning-numbers">
            <div class="number-field">
                <div *ngIf="winningNumbers[0]">{{winningNumbers[0]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[1]">{{winningNumbers[1]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[2]">{{winningNumbers[2]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[3]">{{winningNumbers[3]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[4]">{{winningNumbers[4]}}</div>
            </div>
        </div>
    </div>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Your numbers:</div>
        <form [formGroup]="userNumbersForm" class="winning-numbers">
            <input
                required
                formControlName="firstNumber"
                type="number"
                class="number-field input-number-field">
            <input
                required
                formControlName="secondNumber"
                type="number"
                class="number-field input-number-field">
            <input
                required
                formControlName="thirdNumber"
                type="number"
                class="number-field input-number-field">
            <input
                required
                formControlName="fourthNumber"
                type="number"
                class="number-field input-number-field">
            <input
                required
                formControlName="fifthNumber"
                type="number"
                class="number-field input-number-field">
        </form >
    </div>
    <button mat-button (click)="start()" [disabled]="!userNumbersForm.valid">Let's go!</button>
</div>