<mat-card class="result-card">
    <mat-card-title class="card-header">Result</mat-card-title>
    <app-playing-history></app-playing-history>
    <app-result-history></app-result-history>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Winning numbers:</div>
        <div class="winning-numbers">
            <div class="number-field">
                <div *ngIf="winningNumbers[0]">{{winningNumbers[0]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[1]">{{winningNumbers[1]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[2]">{{winningNumbers[2]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[3]">{{winningNumbers[3]}}</div>
            </div>
            <div class="number-field">
                <div *ngIf="winningNumbers[4]">{{winningNumbers[4]}}</div>
            </div>
        </div>
    </div>
    <div class="winning-numbers-wrapper">
        <div class="winning-numbers-label">Your numbers:</div>
        <form [formGroup]="userNumbersForm" class="winning-numbers">
            <input
                formControlName="firstNumber"
                type="number"
                id="firstNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('firstNumber')">
            <input
                formControlName="secondNumber"
                type="number"
                id="secondNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('secondNumber')">
            <input
                formControlName="thirdNumber"
                type="number"
                id="thirdNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('thirdNumber')">
            <input
                formControlName="fourthNumber"
                type="number"
                id="fourthNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('fourthNumber')">
            <input
                formControlName="fifthNumber"
                type="number"
                id="fifthNumber"
                class="number-field input-number-field"
                (ngModelChange)="addUserNumber('fifthNumber')">
        </form >
    </div>
    <div class="slider-wrapper">
        <label class="example-value-label">Speed</label>
        <mat-slider
            discrete
            min="1"
            max="1000"
            step="1"
            value="1">
            <input matSliderThumb [(ngModel)]="speed">
        </mat-slider>
    </div>
    <div class="button-wrapper">
        <button mat-raised-button color="primary" class="action-button" (click)="randomize()">Give me random numbers</button>
        <button mat-raised-button color="primary" class="action-button" (click)="start()" [disabled]="!userNumbersForm.valid || lotteryRunning">Let's go!</button>
    </div>
</mat-card>